@import url('../../settings/config.less');

.Grid {
  @apply flex w-full select-none py-10 text-sm lg:text-base;

  .selected,
  .clients {
    min-width: 600px;
    width: 70%;
    height: fit-content;
    @apply flex;
  }

  .selected {
    @apply flex-col flex-wrap text-xs lg:flex-row;

    @media only screen and (max-width: @MD) {
      & {
        min-width: 0;
        width: 63%;
      }
    }
  }

  .clients {
    @apply flex-row flex-wrap;

    @media only screen and (max-width: @MD) {
      & {
        min-width: 0;
        width: 100%;
      }
    }
  }

  & > div:nth-child(1) {
    @apply flex-1 select-none pr-20 font-reddit text-xs uppercase lg:pr-0 lg:text-sm;
  }

  button {
    @apply font-reddit text-xs lg:text-sm;

    &:hover {
      @apply text-hover;
    }
  }

  .image {
    padding-bottom: 12 / 16 * 100%;
    background-size: contain;
    @apply w-full bg-center bg-no-repeat;
  }
}
