@import url('../../settings/config.less');
.Footer {
  @apply relative w-full py-5;

  .logo {
    width: image-width(@img) * @scale;
    height: image-height(@img) * @scale;
    background-image: url(@img);
    background-size: 100%;

    @scale: 1;
    @img: './img/logo.svg';

    @media only screen and (max-width: @MD) {
      & {
        width: image-width(@img) * @scale;
        height: image-height(@img) * @scale;

        @scale: 0.6;
      }
    }
  }

  button {
    &:hover {
      @apply text-hover;
    }
  }
}
